build/*
!build/.gitkeep
build/posts/*
!build/fonts/*
!build/posts/.gitkeep
!build/favicon/*
src/content/posts/*
!src/content/posts/.gitkeep
node_modules
/assets/*
/src/js/modernizr.js
/layouts/partials/sprite.svg
