/* ==========================================================================
   Colours
   ========================================================================== */

$black: #000000;
$white: #ffffff;
$link-active: #7393a7;
$dark: #4b4b4b;

$med-dark-grey: #b3b2b2;
$med-grey: #464646;
$med-grey-1: #d2d2d2;
$light-grey-1: #adadad;
$light-grey: #ebebeb;
$white-grey-1: #f1f1f1;
$white-grey: #f8f8f8;

$pipa-navy: #030f1f;
$pipa-teal: #00aab7;

$bg: $white-grey;

/* ==========================================================================
   Typography
   ========================================================================== */

$small: 12px;
$medium: 18px;

$bodysize: $medium;
$bodyline: 1.222;

$body: "Roboto", sans-serif;
$title: "Roboto Slab", serif;

/* ==========================================================================
   Media Queries
   ========================================================================== */

$mobLand: 720px;
$tablet: 1024px;
